.skeleton {
  width: 180px;
  height: 10rem;
  border-radius: 10px;
  background-color: gray;
  animation: blinking 3s infinite;
  transition: all ease-in-out;

  @media (min-width: 640px) {
    width: 260px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
